main {

    background-color: rgb(255, 150, 180);
}


h2 {

    font-family: "rl-aqva", sans-serif;
    font-weight: 900;
    font-style: normal;
    position: absolute;
    left: 300px;
    color: rgb(255, 50, 50);
}

img {
    
    height: 50%;
    position: absolute;
    left: 10px;
    
}

h3 {

    position: absolute;
    left: 300px;
    top: 50px;
    font-family: archivo-variable, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #af3232;
}

.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
}