html {

    background-color: #f68787;
}

nav {

    font-family: archivo-variable, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100, "wght" 400;
    font-size: 28pt;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 60px;
    background-color: #FAE1C8;
    max-width: fit-content;
    float: right;
    padding-left: 20px;
    padding-right: 20px;
    border: black solid 2px;
    position: absolute;
    right: 0;
    
}

nav a {

    color: #af3232;
    text-decoration: none;
    
}

main {

    display: flex;
    justify-content: center;
    background-color: aqua;
    padding-top: 150px;
    position: relative;
    z-index: 0;

}

.bio {

    border: black solid 2px;
    max-width: 1750px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 200px;
}

.bio > div:Nth-of-type(1) {

    background-color: blue;
    min-width: 200px;
}

.bio > div:Nth-of-type(2) { 
    
    background-color: red;
}

h2 {

    font-family: "rl-aqva", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #af3232;
    font-size: 84pt;
    background-color: green;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.bio-image {
    position: relative;
    width: min(90%, 450px);
    min-width: 300px;
}

.bio-image img {
    display: block;
    width: 100%;
    height: auto;
}

.wavyframe {
    position: absolute;
    z-index: 2;
    transform: scale(1.5);
    width: 500px;
    height: 500px;
    object-fit: contain;
}

h3 {

    font-family: archivo-variable, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 24pt;
    color: #ffffff;
    background-color: yellow;
}

.bio-image {

    min-width: 400px;
    position: relative;
    z-index: 2;
}

.words {

    min-width: 650px;
}