header {
}

h1 {

font-family: "sausage", sans-serif;
font-weight: 400;
font-style: normal;
text-align: center;
color: rgb(255, 255, 255);
background-color: rgb(159, 20, 20);
padding-top: 25pt;
padding-bottom: 25pt;
font-size: 50pt
}

body {

font-family: "neue-kabel", sans-serif;
font-weight: 400;
font-style: normal;
text-align: center;
font-size: 18pt;
background-color: lightcoral;
color: rgb(255, 255, 255);
padding-left: 25pt;
padding-right: 25pt;
}

h2 {

}

a {
color: rgb(159, 20, 20);
}