.logo img,
.branding img,
.docs img,
.mock img,
.pin img {
    max-height: 50%;
    max-width: 50%;
}

/* center top images */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo, .branding, .docs, .mock, .pin {
    width: 100%;
    display: flex;
    justify-content: center;
    order: -1; /* move these image blocks to the top */
}

.logo img, .branding img, .docs img, .mock img, .pin img {
    display: block;
    margin: 12px auto 0;
}