*{

    outline: 1px solid magenta;
}

:root {

    font-size: 20px;
}

#parent{

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

#parent div {

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nyc {

    order: 1;
    background-color: darkgray;
    flex-grow: 2;
    flex-shrink: 0;
    flex-basis: 700px;
    
    
}

.chicago {

    order: 4;
    background-color: lightcoral;
    flex-grow: 4;
}

.la {

    order: 2;
    background-color: chocolate;
    flex-grow: 2;
    flex-basis: 500px;

}

.denver {

    order: 3;
    background-color: olive;
    flex-grow: 1;
}

.la div {

    background-color: grey;
    width: 50vw
}