.root {

    font-size: 12px;
}

.post {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(210, 210, 210);
    height: 676px;
    width: 382px;
    
}

.post div {

    background-color: rgb(210, 210, 210);
    width: 300px;
    margin: 10px;
    padding: 10px; 
    font-size: 30px;

}

.img {

    justify-content: center;
}

.caption {

    font-size: 12pt;
}
