* {

    outline: 1px solid magenta;
    
}

#main-container {

    width: 100vw;
    height: 100vh;

    display: flex;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

#chessboard {

    width: 400px;
    height: 400px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#chessboard div {

    height: 50px;
    width: 50px;

    background-color: gray
}

