:root {

    font-size: 18px;
}


div {

    outline: 3px solid #f0f;
    padding: 10px ;
    max-width: 300px;
    max-height: 300px;
    overflow-x: scroll;
    overflow-y: hidden;
    transform: rotate(275deg) skew(50deg) scaleX(2) scaleY(.5) translate(-100px)
}

p {

    background-color: greenyellow;
    padding: 5px;
    min-width: 700px;
}